* {
    margin: 0;
    font-family: 'Kalpurush', Arial, sans-serif !important;
}
nav {
    height: 96px;
    width: 100%;
    background: linear-gradient(to left, #F273B5 7% , #52D983 81% , #C084FC 94%);
    display: flex;
    z-index: 1;
    position: absolute;
}
.allnav {
    width: 76%;
}
.banner {
    background: linear-gradient(to right, #FCE7F3, #F3E8FF 100%);
    margin-top: 80px;
    height: 500px;
}
.banner img {
    width: 78%;
    height: 500px;
}
.ftd2 {
    margin-top: 30px;
}
.navi {
    border: 2px solid white;
    border-top: none;
    border-bottom: none;
    border-left: none;
    margin-right: -2px;
}
.tbl a {
    text-decoration: none;
    font-size: 18px;
    padding: 2px 10px;
}
.tbl a:hover {
    background-color: #8af7b2;
}
/* header-end */
.sc-1 {
    background: linear-gradient(to left, #FCE7F3, #F3E8FF 100%);
    height: 830px;
    width: 100%;
}
.fi1sc-1{
    width: 76.3%;
    background: linear-gradient(to left , #F472B6 10%, #C084FC 90%);
}
.fi2sc-1 {
    width: 76.3%;
    height: 770px;
    background: linear-gradient(to right, #FBCFE8 10%, #edd1fb 90%);
    border-radius: 0px 0px 7px 7px;
    margin-top: 18px;
}
.fi2sc-1:hover {
    border: 1px solid rgb(63, 1, 96);
    border-top: none;
}
  /* card */
.crd {
    margin: -22px 8px 0px 8px;
}
.col {
    margin-top: 3px;
}
.cd {
    background: linear-gradient(to left, #F3E9FE 0%, #FCE7F3 100%);
    box-shadow: rgba(0, 0, 0, 0.423) 0px 3px 8px;
    border-radius: 0px 0px 15px 15px;
}
.cd:hover {
    border: 1px solid rgb(14, 184, 14);
}
.ccr {
    margin-top: 38px;
}
.c-t {
    background: linear-gradient(to right, #19A14D 0%, #9234E9 100%);
}
.c-t h2 {
    font-size: 16px;
}
.card-img-top {
    height: auto;
    width: 50%;
}
.tt1 {
    border: 1px solid rgb(222, 222, 222);
    border-radius: 20%;
    width: 40%;
    font-size: 14px;
    background: linear-gradient(to right, #F3E9FE 0%, #FCE7F3 100%);
    margin: 0px 5px 0px 0px;
    line-height: 15px;
    padding: 5px;
    color: rgb(171, 171, 171);
    box-shadow: rgba(122, 255, 220, 0.25) 0px 4px 6px -1px, #39ffb3 0px 2px 4px -1px;
    
}
.tt2 {
    border: 1px solid rgb(226, 223, 223);
    border-radius: 20%;
    width: 40%;
    font-size: 14px;
    background: linear-gradient(to right, #F3E9FE 0%, #FCE7F3 100%);
    margin: 0px 5px 0px 0px;
    color: rgb(171, 171, 171);
    line-height: 15px;
    box-shadow: rgba(122, 255, 220, 0.25) 0px 4px 6px -1px, #39ffb3 0px 2px 4px -1px;
}
.tt3 {
    border: 1px solid rgb(226, 223, 223);
    border-radius: 20%;
    width: 40%;
    font-size: 14px;
    background: linear-gradient(to right, #F3E9FE 0%, #FCE7F3 100%);
    margin: 0px 5px 0px 0px;
    line-height: 15px;
    padding: 5px;
    color: rgb(171, 171, 171);
    box-shadow: rgba(122, 255, 220, 0.25) 0px 4px 6px -1px, #39ffb3 0px 2px 4px -1px;
}
.bton {
    border: 1px solid rgb(222, 222, 222);
    width: 40%;
    padding: 10px;
    margin-top: 15px;
    background: linear-gradient(to right, rgb(221, 184, 248) 0%, rgb(246, 195, 243) 100%);
}
#bt {
    background: linear-gradient(to right, rgb(210, 240, 108) 0%, rgb(126, 226, 243) 100%);
}
.bton:hover {
    color: white;
}
/* card end */
.sc-2 {
    height: 500px;
    width: 100%;
    background: linear-gradient(to left, #FCE7F3, #F3E8FF 100%);
}
.sc-2sd {
    background: linear-gradient(to right, #FBCFE8 10%, #edd1fb 90%);
    width: 76.3%;
    padding-left: 7px;
    padding-top: 7px;
}
.sd-1 {
    width: 100.5%;
    background: linear-gradient(to left, #fac9e6 0%, #d4aefc 100%);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.tx {
    background: -webkit-linear-gradient(0deg, #B11C67 0%, #4763e0 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sd-1 a {
    background-color: rgb(248, 109, 88);
    height: 37px;
    padding: 0px 10px;
    margin-top: 10px;
}
.sd-1 a:hover {
    color: #FFFFFF;
    background-color: #6511c5;
}
.sd-2 {
    height: 405px;
    width: 76.3%;;
}
.sd-2 img {
    width: 65%;
}